<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Colecciona tus autos</h1>
            <h3 class="mb-5">
                <em>Para que no los pierdas!</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/carros/add">
                Haz tu listado
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>